body{
 margin: 0px;
 background: #F3F5FC;
 font-family: 'Inter', sans-serif;
}

main{
    margin: 0px;
}

.logo{
    position: absolute;
    top: 9%;
    left: 2.5%;
    /*right: 37.43px;*/
}

.campo-texto{
    position: absolute;
    width: 55%;
    height: 50%;
    top:20%;
    left: 10%;

    background: #F3F5FC;
    border: 1px solid #a4bad5;
    border-radius: 0.4em;
    resize: none;
    font-weight: 100;
    font-size: 2em;
}

.campo-texto::placeholder{
    color: #0e4a94;
    font-weight: 50;

}

.campo-texto:focus{
    outline: none;
}

.info{
    position: absolute;
    bottom: 24%;
    left: 10%;
}

.info p {
    display: inline;
    color: #495057;
    font-weight: 500;
    font-size: 1.1em;
}

.container-botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10%;
    position: absolute;
    width: 55.5%;
    height: auto;
    top:78%;
    left: 10%;
    
}

.estructura-boton{
    width: 100%;
    padding: 2.0%;

    border: 1px solid #0A3871;
    border-radius: 1.4em;
    font-size: 1.2em;
}

.boton-encriptar{
    background: #0A3871;
    color: #FFFFFF;
}

.boton-encriptar:hover{
    background-color:#104e9a;
}

.boton-desencriptar{
    background: #D8DFE8;
    color: #0A3871;
}

.boton-desencriptar:hover{
    background-color:#bbc1ca;
}

.container-pantalla{
    position: absolute;
    width: 26%;
    height: 83%;
    top: 9%;
    left: 70%;
    text-align: center;

    background: white;
    border-radius: 32px;
    box-shadow: 10px 20px 60px 5px #b4c5da;
}

.pantalla{
    margin: 0px ;
    padding: 0px;
    position: relative;
    width: 92%;
    height: 72%;
    top: 3%;

    resize: none;
    border: none;
    font-size: 1.7em;
}

.pantalla:focus{
    outline: none;
}

.imagen-munheco{
    position: absolute;
    width: 85%;
    top: 10%;
    left: 8%;

}

.contenedor-texto{
    position: absolute;
    bottom: 15%;
    left: 5%;
    right: 5%;
}

.contenedor-texto h3{
    font-size: 1.4em;
}

.contenedor-texto p{
    font-size: 1.05em;
}

.boton-copiar{
    position: absolute;
    width: 80%;
    top: 83.1%;
    left: 10%;
    padding: 4%;
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 1.4em;
    font-size: 1.2em;
    background: #D8DFE8;
}

.boton-copiar:hover{
    background-color:#bbc1ca;
}

/* Estilos responsive*/

@media screen and (max-width:950px){
    .campo-texto{
        height: 30%;
        width: 80%;
    }

    .info{
        position: absolute;
        top: 52%;
        left: 10%;
    }

    .info p{
        font-size: 1.3em;
    }

    .container-botones{
        width: 80%;
        top: 57%;
    }

    .container-pantalla{
        height: 30%;
        width: 80%;
        top: 65%;
        left: 10%;
        text-align: center;
        margin: 0px auto;
    }

    .imagen-munheco{
        visibility: hidden;
    }

    .contenedor-texto{
        position: absolute;
        text-align: center;
        margin: 0px auto;
        top: 20%;

    }

    .contenedor-texto h3{
        margin-top: 0px;
        font-size: 2.4em;
        
    }

    .contenedor-texto p{
        font-size: 1.6em;
    }

    .boton-copiar{
        position: absolute;
        top: 80%;
        padding: 2.2%;
    }


    
}

@media screen and (max-width:500px){
    .info{
        position: absolute;
        bottom: 44%;
        left: 10%;
    }

    .info p{
        font-size: 0.9em;
    }

    .contenedor-texto h3{
        margin-top: 0px;
        font-size: 1.4em;
        
    }

    .contenedor-texto p{
        font-size: 1.2em;
    }
}

@media screen and (max-height:600px){
    .campo-texto{
        top: 25%;
        height: 50%;
    }

    .info{
        top: 80%;
    }

    .container-botones{
        top: 90%;
    }

    .container-pantalla{
        visibility: hidden;
    }

    .contenedor-texto{
        visibility: hidden;
    }
}